<h1>Paciente</h1>
<table>
    <tr>
        <th>
            Nombre del Paciente
        </th>
        <th>
            Apellido del Paciente
        </th>
        <th>
            Correo del Paciente
        </th>
        <th>
            Teléfono del Paciente
        </th>
    </tr>
    <tr>
        <td>
            {{nomPaciente}}
        </td>
        <td>
            {{apePaciente}}
        </td>
        <td>
            {{correoPaciente}}
        </td>
        <td>
            {{telPaciente}}
        </td>
    </tr>
</table>
