<form action="producto" method="post">
    <label for="txtCodigo">
        Codigo</label>
    <input type="text"
        name="txtCodigo"
        id="txtCodigo"
        placeholder="Codigo"
        value="{{codigo}}" /></br>

    <label for="txtNombre">
        Nombre</label>
    <input type="text"
        name="txtNombre"
        id="txtNombre"
        placeholder="Nombre"
        value="{{nombre}}" /></br>

    <label for="txtPrecio">
        Precio</label>
    <input type="text"
        name="txtPrecio"
        id="txtPrecio"
        placeholder="Precio"
        value="{{precio}}" /></br>
        
    <label for="txtStock">
        Stock</label>
    <input type="text"
        name="txtStock"
        id="txtStock"
        placeholder="txtStock"
        value="{{stock}}" /></br>

    <input type="submit" value="Guardar"
        id="btnGuardar" name="btnGuardar" />
</form>
