<form enctype   =  "multipart/form-data" action="testDocumentos1" method="post">
  <label for="userPhoto">Ingresar Archivo</label>
  <input type="file" name="archivo" />
  <input type="submit" value="Upload Image" name="submit">
</form>
